<section class="services section mt-5">
    <div class="container">
        <div class="services section-title ">
            <h2>Services </h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="service-card d-flex">
                    <div class="icon flex-shrink-0">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <div>
                        <h3>
                            Nesciunt Mete
                        </h3>
                        <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-card d-flex">
                    <div class="icon flex-shrink-0">
                        <i class="fa-solid fa-chart-diagram"></i>
                    </div>
                    <div>
                        <h3>
                            Eosle Commodi
                        </h3>
                        <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.



                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-card d-flex">
                    <div class="icon flex-shrink-0">
                        <i class="fa-solid fa-disease"></i>
                    </div>
                    <div>
                        <h3>
                            Ledo Markt

                        </h3>
                        <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.



                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-card d-flex">
                    <div class="icon flex-shrink-0">
                        <i class="fa-solid fa-clipboard"></i>
                    </div>
                    <div>
                        <h3>
                            Asperiores Commodit

                        </h3>
                        <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.



                        </p>
                    </div>
                </div>
            </div>

        </div>
        

    </div>

</section>