<section class="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 hero">
                <div class="company-badge mb-4">
                    <i class="fa-solid fa-gear"></i>
                    
                    Working for your success
                </div>
                <h1 class="mb-4">
                    Maecenas Vitae
                    <br>
                    Consectetur Led
                    <br>
                    <span class="accent-text">Vestibulum Ante</span>
                </h1>
                <p class="mb-4 mb-md-5">
                    Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
                </p>
                <div class="home-btn">
                    <a class="btn btn-primary me-0 me-sm-2 mx-1">Get Started</a>
                    <a class="btn btn-link mt-2 mt-sm-0 glightbox" >
                        <i class="fa-regular fa-circle-play fa-2xl"></i>
                          Play Video
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-img">
                    <img src="/images/illustration-1.webp" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row  gy-4 mt-5 shadow-lg rounded-4">
                <div class="col-lg-3 col-md-6 ">
                    <div class="stat-item">
                        <div class="stat-icon">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                        <div class="stat-content">
                            <h4>3x Won Awards</h4>
                            <p class="mb-0">Vestibulum ante ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <div class="stat-item">
                        <div class="stat-icon">
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div class="stat-content">
                            <h4>6.5k Faucibus</h4>
                            <p class="mb-0">Nullam quis ante</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <div class="stat-item">
                        <div class="stat-icon">
                            <i class="fa-solid fa-chart-simple"></i>
                        </div>
                        <div class="stat-content">
                            <h4>80k Mauris</h4>
                            <p class="mb-0">Etiam sit amet orci</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <div class="stat-item">
                        <div class="stat-icon">
                            <i class="fa-solid fa-award"></i>
                        </div>
                        <div class="stat-content">
                            <h4> 6x Phasellus</h4>
                            <p class="mb-0">Vestibulum ante ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>